// MIXINS
@mixin transition($args) {
	transition: $args;
	-webkit-transition: $args;
	-moz-transition: $args;
	-ms-transition: $args;
	-o-transition: $args;
}

@mixin position() {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin hoverimg {
	transform: translate(-50%, -50%) scale(1.07);
}

@mixin rotateinfinite {
	animation: rotateinfinite 3s infinite linear;
	@keyframes rotateinfinite {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(-360deg);
		}
	}
}

@mixin positionX() {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

@mixin positionY() {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

@mixin text($font-size, $font-family, $line-height, $color, $text-transform) {
	font-size: $font-size;
	font-family: $font-family;
	line-height: $line-height;
	color: $color;
	text-transform: $text-transform;
}

@mixin dflex() {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin midimg($maxwidth: initial) {
	max-width: $maxwidth;
	min-width: 100%;
	min-height: 100%;
	object-fit: cover;
	position: absolute;
	@include position;
}

@mixin opacity0 {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

@mixin mg0auto {
	margin: 0 auto;
	display: block;
	width: 100%;
}

@mixin opacity1 {
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
}

@mixin overtext($lines) {
	display: -webkit-inline-box;
	-webkit-line-clamp: $lines;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	overflow: hidden;
}
